{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="main page404">
  <section class="container-c">
    {{ page.content }}
    <p class="frase">¿Echamos una partida al 3 en raya mientras aparece la página?</p>
    <div class="tablero">
      <div class="r-1"> <div class="c-1 cell"></div><div class="c-2 cell"></div><div class="c-3 cell"></div> </div>
      <div class="r-2"> <div class="c-1 cell"></div><div class="c-2 cell"></div><div class="c-3 cell"></div> </div>
      <div class="r-3"> <div class="c-1 cell"></div><div class="c-2 cell"></div><div class="c-3 cell"></div> </div>
    </div>
    <div class="menu_alt">
      <h3></h3>
      <a href="{{ home_url }}">INICIO</a>
      <a href="{{ base_url }}/porfolio">PORFOLIO</a>
      <a href="{{ base_url }}/blog">BLOG</a>
      <a href="{{ base_url }}/contacto">CONTACTO</a>
    </div>
    <p><span class="button reiniciar">Volver a Jugar</span></p>
  </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
var contador = 0
function buscaCelda() {
  var x = Math.ceil(Math.random()*3)
  var y = Math.ceil(Math.random()*3)
  
  if ($('.r-'+y+' .c-'+x).hasClass('tipo4') || $('.r-'+y+' .c-'+x).hasClass('tipo0')) {
    window.setTimeout(buscaCelda, 500)
  }
  else {
    $('.r-'+y+' .c-'+x).addClass('tipo0')
    contador++
  }
  if (comprueba('tipo0')) final('tipo0')
}
function comprueba(t) {
  var win = false
  win = ($('.r-1 .c-1').hasClass(t) && $('.r-1 .c-2').hasClass(t) && $('.r-1 .c-3').hasClass(t)) ? true : win
  win = ($('.r-2 .c-1').hasClass(t) && $('.r-2 .c-2').hasClass(t) && $('.r-2 .c-3').hasClass(t)) ? true : win
  win = ($('.r-3 .c-1').hasClass(t) && $('.r-3 .c-2').hasClass(t) && $('.r-3 .c-3').hasClass(t)) ? true : win
  win = ($('.r-1 .c-1').hasClass(t) && $('.r-2 .c-1').hasClass(t) && $('.r-3 .c-1').hasClass(t)) ? true : win
  win = ($('.r-1 .c-2').hasClass(t) && $('.r-2 .c-2').hasClass(t) && $('.r-3 .c-2').hasClass(t)) ? true : win
  win = ($('.r-1 .c-3').hasClass(t) && $('.r-2 .c-3').hasClass(t) && $('.r-3 .c-3').hasClass(t)) ? true : win
  win = ($('.r-1 .c-1').hasClass(t) && $('.r-2 .c-2').hasClass(t) && $('.r-3 .c-3').hasClass(t)) ? true : win
  win = ($('.r-1 .c-3').hasClass(t) && $('.r-2 .c-2').hasClass(t) && $('.r-3 .c-1').hasClass(t)) ? true : win

  return win
}
function final(t) {
  $('.tablero').slideUp()
  $('.menu_alt').slideDown()
  var frase = (t === 'tipo4') 
    ? 'Has ganado y la página sige sin aparecer, <br>¿Quieres seguir con alguna de estas?'
    : (t === 'tipo0') 
      ? 'Estaba tan concentrado en ganar que no busqué la página, <br>¿Quieres seguir con alguna de estas?'
      : 'Nadie gana y la página sigue perdida, <br>¿Quieres seguir con alguna de estas?'
  
  $('.frase').html(frase)
}

$(function() {
  $('.cell').on('click', function() {
    if ($(this).hasClass('tipo4') || $(this).hasClass('tipo0')) {
      console.log('Escoge otro')
    }
    else {
      $(this).addClass('tipo4')
      contador++
      if (contador < 9 && !comprueba('tipo4')) buscaCelda()
      else if (contador >= 9) final('empate')
      else final('tipo4')
    }
  })

  $('.reiniciar').on('click', function() {
    $('.frase').html('¿Otra partida? Genial, empieza tú')
    $('.cell').removeClass('tipo4').removeClass('tipo0')
    $('.tablero').slideDown()
    $('.menu_alt').slideUp()
    contador = 0
  })
})</script>
{% endblock %}