{% extends 'partials/base.html.twig' %}
{% block content %}
{% set client = grav.uri.params("client", true) %}
{% set year = grav.uri.params("year", true) %}
{% set type = grav.uri.params("type", true) %}
{% set tech = grav.uri.params("tech", true) %}
<div class="main">
  <section class="container-i">
    <h1 class="title">
      {{ page.title }}
    </h1>
    {% if client or year or type or tech %}
    <h2>
      Trabajos
      {% if client %} sobre {{client}} {% endif %}
      {% if year %} del año {{year}} {% endif %}
      {% if type %} de {{type}} {% endif %}
      {% if tech %} donde se usa {{tech}} {% endif %}
    </h2>
    {% endif %}
    
    {{ page.content }}
    {% set collection = page.collection() %}
    {% for child in collection %}
      {% include 'partials/work_item.html.twig' with {'page':child, 'truncate':true} %}
    {% endfor %}
  </section>
</div>
{% endblock %}