{% extends 'partials/base.html.twig' %}
{% block content %}
{% set category = grav.uri.params("category", true) %}
{% set tag = grav.uri.params("tag", true) %}
<div class="main">
  <section class="container-c">
    {% if category or tag %}
      <h1 class="title">
        {{ page.title }}
      </h1>
    <h2>
      Entradas
      {% if category %} sobre {{category|regex_replace(['/%20/'], [' '])}} {% endif %}
      {% if tag %} con la etiqueta {{tag|regex_replace(['/%20/'], [' '])}} {% endif %}
    </h2>
    {% else %}
      <h1 class="title">
        <a href="{{page.url}}">{{ page.title }}</a>
      </h1>
    {% endif %}
    {{ page.content }}
    {% set collection = page.collection() %}
    {% for child in collection %}
      {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
    {% endfor %}
  </section>
</div>
{% endblock %}